{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}
{% block menu %}
    <li><a href="{% url "accounts:user_change" user_obj.pk %}">Редактирование личных данных</a></li>
    <li><a href="{% url "accounts:password_change" %}">Поменять пароль</a></li>
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Дата рождения: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
    <p>Почта: {{ user_obj.email }}</p>
    <p>Ссылуа на git: <a href="{{ user_obj.profile.git }}">{{ user_obj.profile.git }}</a></p>
    <p>О себе: {{ user_obj.profile.self }}</p>

    <h4>User Reviews:</h4>
    <div class="task-list">
        {% if user_obj == request.user %}
            {% for review in user_obj.reviews.all %}
                <div class="review">
                    <b>Автор: </b><a href="{% url 'accounts:detail' review.author.pk %}?next=">{{ review.author.get_full_name }}</a>
                    <p><b>Емайл: </b>{{ review.author.email }}</p>
                    <p><b>Оценка: </b>{{ review.mark }}</p>
                    <p><b>Отзыв: </b>{{ review.text }}</p>
                    {% if perms.webapp.change_review or review.author == request.user %}
                        <a href="{% url 'review_update' review.pk %}"><i class="fas fa-edit"></i></a>
                    {% endif %}
                    {% if perms.webapp.delete_review or review.author == request.user %}
                        <a href="{% url 'review_delete' review.pk %}"><i class="fas fa-trash"></i></a>
                    {% endif %}
                    <hr>
                </div>
            {% empty %}
                <p>Нет созданных отзывов.</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
